<!DOCTYPE html>
<html>
<head>
	<title>INDEX</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body>

	<ul>

		<% if(!currentUser){  %>
			
			<li><a href="/register">Register</a></li>
			<li><a href="/login">Login</a></li>
		
		<% } else {  %>
			
			<li><strong>Signed in as <%= currentUser.username %></strong></li>
			<li><a href="/logout">Logout</a></li>
		<% } %>
	</ul>
	
	<div class="container">
		
		<% if(flashDanger && flashDanger.length > 0){  %>
			
			<div class="alert alert-danger" role="alert">
				<%= flashDanger %>
			</div>	
		<% } %>

		<% if(flashSuccess && flashSuccess.length > 0){  %>
			<div class="alert alert-success" role="alert">
				<%= flashSuccess %>
			</div>	
		<% } %>
	</div>


