body {
	/*background: pink;*/
}

#background-image-url {
	width: 100%;
	height: 20.833em;
	background-size: cover;
	background-position: center center;
}

#show-background-image-url {
	width: 100%;
	/*height: 30rem;*/
	background-size: cover;
	background-position: center center;
}

#show-missing {
	width: 100%;
	background-color: red;
	height: 5rem;
}

.form-width {
	width: 30%;
	margin: 25px auto;
}

.delete-form {
	display: inline;
}